.grid-container {
  display: grid;
  grid-template-areas: 
    "head"
    "secondary"
    "main";
  width: 100%;
}

.main-content {
  grid-area: main;
  padding: 1rem;
  flex: 1;
}

.main-content h1 {
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0px;
}

#hero {
  width: 100%;
  height: auto;
  display: block;
}

.CLICKME {
  position: absolute;
  left: 30px;
  bottom: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 155px;
}

.hello {
    color: white;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 2px;
    position: absolute;
    width: 10px;
}

.decend
{
    width: 300px;
    height: auto;
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.None {
    background-color: lightgray;
    width: auto;
    margin-top: 36px;
}

.thes
{
    width: 300px;
    height: auto;
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}